<div *ngIf="loggedIn$== false ;"  >
  <div class="image">
    <es-image [name]="item.pictureFileName"></es-image>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="name">{{item.name}}</div>
    <div class="price">
      <span>$</span>
      <span>&nbsp;</span>
      <span>{{item.price}}</span>
    </div>
  </div>
</div>

<div *ngIf="loggedIn$;"  >
  <div class="image">
    <es-image [name]="item.pictureFileName"></es-image>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <button class="col-12 btn btn-primary" (click)="onAddToCart()">Add to card</button>
    <div class="name">{{item.name}}</div>
    <div class="price">
      <span>$</span>
      <span>&nbsp;</span>
      <span>{{item.price}}</span>
    </div>
  </div>
</div>
